:root {
  color-scheme: dark;

  --color-bg-top: midnightblue;
  --color-bg-bottom: rebeccapurple;
  --color-text: #ebebeb;
  --color-border: #9d9d9d;
  --color-content-bg: dimgrey;
  --color-header-bg: grey;
  color: #ebebeb;

  --color-link: aquamarine;
}
