:root {
  color-scheme: light;

  --color-bg-top: skyblue;
  --color-bg-bottom: wheat;
  --color-text: black;
  --color-border: black;
  --color-content-bg: floralwhite;
  --color-header-bg: linen;
  color: black;

  --color-link: skyblue;
}
