*{
	color: #eee8d5;
	border-color: #93a1a1;
}

body{
	margin: 0; padding: 0;
	font-family: "Courier New";
	background-color: #002b36;
}


#center_column{
	position: absolute;
	width: 60%;
	min-height: 100vh;
	height: auto;
	left: 20%;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;

	border-style: solid;
	border-width: 0px 1px;

	background-color: #073642;

	padding: 10px;
}

#main_title{
	position: relative;
	width: 100%;
	min-height: 5vh;

	border-style: solid;
	border-width: 0px 0px 1px 0px;

	font-variant: small-caps;
	font-size: xx-large;
	font-weight: bold;

	text-align: center;

	padding: 5px 0px;
	margin: 30px 0px;
}

.info_box{
	position: relative;
	width: 100%;
	min-height: 10vh;
	
	background-color: #073642;
}

.info_box h1{
	position: relative;
	width: 100%;
	height: 30px;

	font-variant: small-caps;
	font-size: x-large;
	font-weight: bold;

	border-style: solid;
	border-width: 0px 0px 0px 10px;

	padding-left: 20px;
}

.info_box .info_text{	
	position: relative;
	width: 100%;
	min-height: 50px;

	border-style: solid;
	border-width: 1px 0px 0px 00px;

	padding-top: 10px;
	margin-top: 10px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
	align-items: flex-start;
}

.info_text p::first-letter{
	font-size: 1.1em;
	font-weight: bold;
}

.equation_img{
	position: relative;
	max-width: 80%;
	min-width: initial;
	max-height: 60px;
	margin: 10px;

	align-self: center;
}

@media only screen and (max-width: 20cm){

	#center_column{
	position: absolute;
	width: 100%;
	left: 0%;
	}


}