body{
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ccffc9;
}

#bee_card{
	width: 400px;
	height: 600px;
	background-color: #ffffb8;
	z-index: 2;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	border: 2px dashed black;
	border-radius: 10px;
}

.small_flower{
	position: fixed;
	width: 7vw;
	z-index: 1;
	animation: skew 3s infinite;
	animation-direction: alternate;
}

@keyframes skew {
	0% {
		transform: skewX(13deg) translate(-7px);
	}
	100% {
		transform: skewX(-13deg) translate(7px);
	}
}

h1,
input::-webkit-input-placeholder,
button {
	font-family: monospace;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

h1, button{
	text-align: center;
}

form{
	margin-top: 1em
}
input {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #6b4701;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background-color: rgba(0,0,0,0);
  color: #6b4701;
}

input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

button {
  border: none;
  background: #6b4701;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}