@media (prefers-color-scheme: light) {
  :root {
    --color-bg-top: skyblue;
    --color-bg-bottom: wheat;
    --color-text : black;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-top: midnightblue;
    --color-bg-bottom: rebeccapurple;
    --color-text : #ebebeb;
    color: #ebebeb;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--color-scrollbar-track);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--color-scrollbar-thumb);
}

html {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
}

body {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 1000px;
  width: 1000px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, var(--color-bg-top), var(--color-bg-bottom));
  align-items: center;
  box-sizing: border-box;
  overscroll-behavior-y:  contain;
}

body:fullscreen {
  background: linear-gradient(180deg, var(--color-bg-top), var(--color-bg-bottom));
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
